html {
  font-family: "Bangers", cursive;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 360px;
  position: relative;
  width: 100%;
}

body {
  background-color: black;
  cursor: url("https://i.pinimg.com/originals/54/da/88/54da8852d6010ce2177d51300f33e970.png"),
    auto;
}

h1 {
  background-color: black;
  color: chartreuse;
  font-family: "Bangers", cursive;
  font-size: 2.5rem;
  margin: 0;
  padding: 20px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2000;
}

button {
  background-color: transparent;
  border: none;
  margin: 5px;
}

button:focus {
  outline: 0;
}

a {
  color: rgb(173, 173, 173);
  text-decoration: none;
}

a:hover {
  color: chartreuse;
}

footer {
  color: rgb(173, 173, 173);
  bottom: 0;
  margin: 5px auto;
  position: sticky;
  width: 100%;
  text-align: center;
}

.container {
  margin-top: 150px;
}

.image-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-end;
}

.image-list li {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 320px;
  margin: 20px;
  max-width: 320px;
  position: static;
  width: 100%;
}

.image-list li img {
  border: none;
  transform: scale(1.2);
  width: 100%;
}

button img {
  display: block;
  transition: transform 0.4s; /* smoother zoom */
  z-index: -1;
}

button:hover img {
  transform: scale(1.6);
  transform-origin: 50% 50%;
  z-index: 3000;
}

#modalCharacter {
  color: chartreuse;
}

.modal-content {
  background-color: black;
  border: 3px solid chartreuse;
  border-top: 1px solid chartreuse;
  margin: auto;
  max-width: 70vw;
}

.modal-content li {
  list-style-type: square;
}

#buttonClose {
  background-color: black;
  border: 1px solid chartreuse;
  color: chartreuse;
}

.modal-header {
  border-bottom: 1px solid chartreuse;
}

.modal-footer {
  border-top: 1px solid chartreuse;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  footer {
    position: absolute;
  }
}
